[all-in-one]
x.x.x.x ansible_ssh_private_key_file=~/.ssh/id_rsa ansible_ssh_user=ubuntu

[jumpbox]
x.x.x.x ansible_ssh_private_key_file=~/.ssh/id_rsa ansible_ssh_user=ubuntu

[stemcell-builder]
x.x.x.x ansible_ssh_private_key_file=~/.ssh/id_rsa ansible_ssh_user=ubuntu

[binaries-builder]
x.x.x.x ansible_ssh_private_key_file=~/.ssh/id_rsa ansible_ssh_user=ubuntu
